.thumbnail {
    height:500px;

}
.thumbnail-img{
    max-height: 300px;
}
.extra_padding {padding: 0px 0px 50px 0px;}
/* CSS declarations go here */
body {

    padding-top: 50px;
}

.single-img{
    max-width:100%;
}